<section data-ng-controller="nav as vm"
         class="navbar-knowledgeCenter-left">
    <ul class="nav navbar-nav">
        <li data-ng-repeat="r in vm.navRoutes" data-ng-class="{ active: vm.isCurrent(r) }">
            <a href="{{r.href}}" class="hint">
                <i data-ng-class="'{{r.titleIconCss}}'"></i>
                <div class="hint-content classic">{{r.title}}</div>
            </a>
        </li>
    </ul>
</section>